<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
   <script src="/static/js/auth0-client.js"></script>
</head>
<body>
<h1>Minimal SPA Login Example + Authentication Code Flow + API</h1>

<div>
  You need to login!
<button id="login">Login</button>
</div>
</body>

<script>
  //redirect to the Universal Login Page
  document.getElementById('login').addEventListener('click', () => {
    loginViaOIDC();
  });
  
  </script>

</html>