[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restx = "*"
flask-dotenv = "*"
flask-jwt-extended = "*"
flask-mongoengine = "*"

[requires]
python_version = "3.6"
